@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');

.App {
  display: grid;
  text-align: center;
}

.org-container {
  display: flex;
  justify-content: center;
}
.line {
  height: 2px;
  width: 15vw;
  background-color: black;
}
#org {
  position: relative;
  bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header > h1 {
  font-size: 60px;
  font-family: 'Titillium Web', sans-serif;
}

/* found this class in inspect tools, came from react-table package */
.table-outer {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.legend-outer {
  display: flex;
  justify-content: center;
}
.legend-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 400px;
}
.green {
  height: 20px;
  width: 20px;
  position: relative;
  top: 22px;
  background-color: #66ff1a;
}
.yellow {
  height: 20px;
  width: 20px;
  position: relative;
  top: 22px;
  background-color: #FFEC1A;
}
.orange {
  height: 20px;
  width: 20px;
  position: relative;
  top: 22px;
  background-color: #ffb31a;
}
.red {
  height: 20px;
  width: 20px;
  position: relative;
  top: 22px;
  background-color: #ff791a;
}
h3 {
  color: rgb(30, 30, 30)
}
/* cell hover */
td:hover {
  filter: brightness(0.75);
}
/* column title hover */
th:hover {
  background-color: azure;
}
