@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  display: grid;
  text-align: center;
}

.org-container {
  display: flex;
  justify-content: center;
}
.line {
  height: 2px;
  width: 15vw;
  background-color: black;
}
#org {
  position: relative;
  bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
}
.header > h1 {
  font-size: 60px;
  font-family: 'Titillium Web', sans-serif; 
}


.footer-outer {
  display: flex; 
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 15px;
}
.vert-line {
  height: 60px;
  width: 2px;
  background-color: black;
  margin-right: 30px;
  margin-left: 30px;
}

/* found this class in inspect tools, came from react-table package */
.table-outer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.legend-outer {
  display: flex;
  justify-content: center;
}
.legend-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 400px;
}
.green {
  height: 20px;
  width: 20px;
  position: relative;
  top: 22px;
  background-color: green;
}
.yellow {
  height: 20px;
  width: 20px;
  position: relative;
  top: 22px;
  background-color: #ffea00;
}
.orange {
  height: 20px;
  width: 20px;
  position: relative;
  top: 22px;
  background-color: #ff6a00;
}
.red {
  height: 20px;
  width: 20px;
  position: relative;
  top: 22px;
  background-color: #ff2b00;
}
h3 {
  color: rgb(30, 30, 30)
}
/* cell hover */
td:hover {
  filter: brightness(0.75);
}
/* column title hover */
th:hover {
  background-color: azure;
}

[role=row]:hover {
  filter: brightness(0.75);
}

code p {
  font-family: 'Montserrat', sans-serif;
}
/* p {
  position: relative;
  right: 650px;
}
pre {
  position: relative;
  right: 618px;
} */
table {
  width: 75vw;
}


.zero {
 filter: brightness(0.75);
}

