@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  display: grid;
  text-align: center;
}

.org-container {
  display: flex;
  justify-content: center;
}
.line {
  height: 2px;
  width: 15vw;
  background-color: black;
}
.org {
  position: relative;
  bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-outer {
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
}
.header > h1 {
  font-size: 60px;
  font-family: 'Titillium Web', sans-serif; 
}


.footer-outer {
  display: flex; 
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 15px;
}
.vert-line {
  height: 60px;
  width: 2px;
  background-color: black;
  margin-right: 30px;
  margin-left: 30px;
}
.logo {
  height: 5rem;
}

/* found this class in inspect tools, came from react-table package */
.table-outer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.legend-outer {
  display: flex;
  justify-content: center;
}
.legend-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 650px;
}
.green {
  height: 60px;
  width: 60px;
  position: relative;
  top: 22px;
  background-color: rgb(17, 146, 17);
}
.yellow {
  height: 60px;
  width: 60px;
  position: relative;
  top: 22px;
  background-color: #ffea00;
}
.orange {
  height: 60px;
  width: 60px;
  position: relative;
  top: 22px;
  background-color: #ff6a00;
}
.red {
  height: 60px;
  width: 60px;
  position: relative;
  top: 22px;
  background-color: #ff2b00;
}
h3 {
  color: rgb(30, 30, 30);
  font-size: 30px;
  position: relative;
  top: 20px;
}
/* cell hover */
td:hover {
  filter: brightness(0.85);
}
/* column title hover */
th:hover {
  background-color: azure;
}

[role=row]:hover {
  filter: brightness(0.75);
}

code p {
  font-family: 'Montserrat', sans-serif;
}

table {
  width: 65vw;
}


div.zero {
  background-color: rgb(17, 146, 17);
  height: 38px;
  padding-left: 3px;
}

@media screen and (max-width: 400px) {

.footer-outer {
  display: flex; 
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 15px;
  position: relative;
  left: 28vw;

}
}

